<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Student</key>
	<array>
		<dict>
			<key>ClassCode</key>
			<string>GC01</string>
			<key>StudentCode</key>
			<string>A01</string>
			<key>StudentName</key>
			<string>0</string>
			<key>StdAge</key>
			<integer>22</integer>
			<key>StdAddress</key>
			<string>Hà Nội</string>
			<key>StdImage</key>
			<string>a1</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC01</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC02</string>
			<key>StudentCode</key>
			<string>A03</string>
			<key>StudentName</key>
			<string>Thiện</string>
			<key>StdAge</key>
			<integer>23</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a3</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC02</string>
			<key>StudentCode</key>
			<string>A04</string>
			<key>StudentName</key>
			<string>Dũng</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a4</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC03</string>
			<key>StudentCode</key>
			<string>A05</string>
			<key>StudentName</key>
			<string>Tài</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Sài Gòn</string>
			<key>StdImage</key>
			<string>a5</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC03</string>
			<key>StudentCode</key>
			<string>A06</string>
			<key>StudentName</key>
			<string>Long</string>
			<key>StdAge</key>
			<integer>22</integer>
			<key>StdAddress</key>
			<string>Tuyên Quang</string>
			<key>StdImage</key>
			<string>a6</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC04</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC04</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC05</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC05</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC06</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC06</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC07</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC07</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC08</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC08</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC09</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC09</string>
			<key>StudentCode</key>
			<string>A02</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC10</string>
			<key>StudentCode</key>
			<string>A19</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
		<dict>
			<key>ClassCode</key>
			<string>GC10</string>
			<key>StudentCode</key>
			<string>A20</string>
			<key>StudentName</key>
			<string>Công</string>
			<key>StdAge</key>
			<integer>21</integer>
			<key>StdAddress</key>
			<string>Hà nội</string>
			<key>StdImage</key>
			<string>a2</string>
		</dict>
	</array>
</dict>
</plist>
